@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Lora:wght@400;600;700&display=swap');
.nav ul {  /* for horizontal nav bar list */
  list-style-type: none;
  padding: 0;
  
 }

.nav li { /* to align list to the right */
  float: right;
  margin-right: 25px;
  }

.nav li a { /* change font size of active link bar */
  font-size: 18px;
}

body{ /* body must be relative for navigation */
  font-family: Arvo;
  position: relative;
}

.nav .active a { /*change active background color */
  background-color: white!important; 
}
.navbar { /*change navbar background color */
  background-color: lightblue;
}

.navbar-brand { /* change navbar brand size */
  font-size: 25px;
}

/*******************************************************
content formatting below is not relevant to nav bar
*******************************************************/

#home, #navbar, #scrollspy, #format{
  text-align: left;
  margin-left: 50px;
}

#home ul, #navbar ul, #scrollspy ul{
  font-size: 20px; 
}

a {
  font-size: 20px;
}

h1 {
  margin-bottom: 100px;
  margin-top: 75px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-top: 50px;
}

h3 {
  margin-top: 5px;
}

p {
  font-size: 32px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 35px;
  margin-bottom: 50px;
}

img {
  width: 800px;
  margin-top: 30px;
  margin-bottom: 50px;
}